node_modules/
dist/
.DS_Store
*.local
public/photos/gallery/vn-classmates/vn-classmates-03.heic
public/photos/gallery/vn-classmates/vn-classmates-03.heic
public/photos/gallery/vn-classmates/vn-classmates-03.jpeg
public/photos/gallery/vn-classmates/vn-classmates-04.jpeg
